*{
    font-family: "Open Sans", Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0 0;
    background-color: hwb(231 82% 16%);
}
h1 {
    font-size: 60px;
    background-color: hsl(228, 49%, 12%);
    color: #fff;
    margin: 0 0;
    padding: 40px;
    padding-left: 60px;
}
table {
    width: 1350px;
    margin: 40px auto;
    box-shadow: 5px 5px 10px hsl(228, 49%, 12%, 0.5);
    display: block;
    padding: 20px;
}
.title-row {
    height: 50px;
}
th {
    text-align: left;
    font-size: 25px;
    padding: 20px 30px 25px 10px;
    border-top: 1.5px solid hsl(228, 49%, 12%, 0.3);
    border-bottom: 1.5px solid hsl(228, 49%, 12%, 0.3);
}
.name {
    width: 200px;
}
.description {
    width: 600px;
}
tr {
    display: table-row;
    vertical-align: text-bottom;

}
td{
    padding: 10px;
    padding-bottom: 25px;
    padding-right: 40px;
    text-align: left;
}
.tag {
    font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace;
    font-weight: bold;
}
.name-data {
    font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace;
    font-weight: bold;
}
.description-part {
    margin-bottom: 10px;
}
.inline-text {
    font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace;
    background-color: #eae9ed;
    font-size: 0.875rem;

}
.example-data {
    font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace;
    background-color: #211e2f;
    padding: 16px;
    color: #fff;
    border-radius: 1.5%;
    font-size: 0.875rem;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    display: block;
    margin-top: 30px;
    margin-left: 12px;
    padding-top: 20px;
}
.red-tag {
    color: hsl(0, 100%, 76%);
}
.property{
    color: hsl(150, 100%, 76%);
}
.values {
    color: hsl(45, 100%, 76%);
}
